<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name' %>:
    <%= f.text_field :name, class: "form-control", style: "width:50%;"  %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>:
    <%= f.text_field :description, class: "form-control", style: "width:50%;" %>
  </div>
  <div class="form-group">
    <%= f.label :budget, 'Budget' %>:
    <%= f.number_field :budget, class: "form-control", style: "width:50%;" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <br>
  </div>
<% end %>
