%h1
  = @project.name
%span.sub-heading= @project.description

.spacer

%span.budget
  %span.pull-left
    - if @total_price
      .total
        Current total:
        = number_to_currency(@total_price)

    - if @project.budget
      .total
        Budget:
        = number_to_currency(@project.budget)

  %span.pull-right
    - if @total_price && @project.budget
      - percent_used = number_with_precision(@total_price / @project.budget * 100, precision: 2)
      - if percent_used.to_i <= 100
        .progress
          .progress-bar.progress-bar-success{role: "progressbar", 'aria-valuenow': "#{percent_used}", 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{percent_used}%"}
            = "#{percent_used}%"
            of budget
      - else
        .progress
          .progress-bar.progress-bar-danger{role: "progressbar", 'aria-valuenow': "#{percent_used}", 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{percent_used}%"}
            = "#{percent_used}%"
            of budget

.spacer

- if @project_requirments.present?
  %table.table
    %tr
      %th
      %th
      %th Quantity
      %th Price per unit
      %th Total cost
      %th Price updated
      %th
    - @project_requirements.each do |family|
      %tr
        %th(colspan=7)= family['name']
      - family['types'].each do |type|
        %tr{data: {product: type.to_json}}
          %td(width="5px")
          %td= type['name']
          %td= type['quantity']
          %td= number_to_currency(type['product'].price_per_unit)
          %td= number_to_currency((type['quantity'].to_i * type['product'].price_per_unit))
          %td
            = time_ago_in_words type['product'].updated_at
            ago
          %td
            %a.btn.btn-sm.btn-primary.do-enquire
              = fa_icon "send"
              Enquire

= form_tag project_path(@project), method: :patch, multipart: true do
  = file_field_tag 'project[requirements]'
  = submit_tag 'upload'

- if @project_requirements.any?
  %div{ id: 'piechart' }

:javascript
  $(function () {
    $('.do-enquire').click(function(e) {
      e.preventDefault();
      var $trEl = $(this).closest('tr');
      var product = $trEl.data('product');
      var johnyMessages = [
        "Design is a word that's come to mean so much that it's also a word that has come to mean nothing.",
        "It’s very easy to be different, but very difficult to be better.",
        "Very often design is the most immediate way of defining what products become in people's minds."
        ]
      var message = "<p>Johny said: " + johnyMessages[Math.floor(Math.random() * johnyMessages.length)] + "</p>" +
        "<p>You are going buy the best " + product.name + " ever made!</p>" +
        "<p>Thank you ! We love you</p>"
      $trEl.addClass('success');
      $(this).addClass('disabled');
      bootbox.alert(message);
    })
      $('#piechart').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: 'Price Breakdown'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Product',
              data: #{ @chart_data.to_json }
          }]
      });
  });
