<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :family, 'Family' %>:
    <%= f.text_field :family, class: "form-control", style: "width:50%;"  %>
  </div>
  <div class="form-group">
    <%= f.label :title, 'Title' %>:
    <%= f.text_field :title, class: "form-control", style: "width:50%;" %>
  </div>
  <div class="form-group">
    <%= f.label :brand, 'Brand' %>:
    <%= f.text_field :brand, class: "form-control", style: "width:50%;" %>
  </div>
  <div class="form-group">
    <%= f.label :unit, 'Unit' %>:
    <%= f.text_field :unit, class: "form-control", style: "width:50%;" %>
  </div>
  <div class="form-group">
    <%= f.label :price_per_unit, 'Price per unit' %>:
    <%= f.text_field :price_per_unit, class: "form-control", style: "width:50%;" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <br>
  </div>
<% end %>
