<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>

<nav class="site-navbar navbar navbar-default">
  <div class="container-fluid">
    <div class="app-body">

      <a class="navbar-brand" href="<%= root_path %>">
        <h1 class="tendtime-logo">
          <strong>tend</strong>time
        </h1>
      </a>

      <div class="pull-right">
        <% if user_signed_in? %>
          <span class="login-message">
          Logged in as <%= current_user.email %>
          </span>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: 'btn btn-primary')  %>
        <% end %>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="app-body">
  <%= yield %>
</div>

</body>
</html>
