<!DOCTYPE html>
<html>
<head>
  <title>TendtimeServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pull-right">
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
  <% else %>
    <%= link_to('Login', new_user_session_path, class: 'btn btn-primary')  %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
